
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006D9C;
}

#botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.botones-container {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    margin-top: 10px;
}

.botones-container button {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #000;
    cursor: pointer;
}

.botones-container button:hover {
    background-color: #008CBA;
    color: #fff;
}
